.background {
  background-image: url('../../../assets/images/pao.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 210%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}