<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sistema de Asistencia DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-image">
  <div class="center-box">
    <img src="assets/images/incorrecto.png" class="center-image" style="width: 100%; max-height: 300px; margin-top: 10px;">
    <h1 style="color: #ffffff;">Sistema de Asistencia <br> DuocUC</h1>

    <div>
      <h2 style="color: #ffffff; text-align: center;">Recuperar contraseña</h2>
      <p style="color: #ffffff; text-align: center;">
        Lo sentimos, los datos ingresados son incorrectos.
      </p>
    </div>

    <ion-button expand="block" (click)="Toingreso()" class="center-button">
      Iniciar Sesión
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>